.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  color: white;
  position: relative;
}

.menu-item::after {
  display: block;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 70%, var(--background-color));
  width: 90%;
  height: 2px;
  bottom: 0;
}

.item-details h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.item-price {
  margin: 0.25em;
  font-size: 1.25em;
  font-weight: bold;
}

.item-description {
  margin: 0 10em;
  font-size: 1em;
  font-style: italic;
}
