.item-count {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    gap: 0.5em;
    margin: auto 0;
  }
  
  .item-count button {
    margin: 0.5em;
    background-color: var(--primary-color);
    border: 0.15em solid transparent;
    border-radius: 0.5em;
    color: white;
    transition: all 0.2s;
  }
  
  .item-count label {
    margin: 0 auto;
    padding: 0.5em 0;
    width: 2.5em;
    background-color: white;
    border: 0.14em solid var(--primary-color);
    border-radius: 0.75em;
  
    font-weight: bold;
    text-align: center;
    color: black;
  }

  .item-count button:hover {
    border-color: white;
  }