.cart-button {
  display: flex;
  position: absolute;
  right: -8rem; 
  top: 0.5rem;
  width: 5.5rem;
  height: 3rem;

  background-color: var(--background-color);
  color: white;

  border: 0.1rem solid transparent;
  border-radius: 2rem;

  transition: height 0.1s ease 0s, width 0.1s ease 0s, left 0.1s ease 0s, top 0.1s ease 0s;
}

.cart-button p {
  margin: 0;
  padding: 0.25rem 1.25rem;

  transition: padding 0.2s ease 0s;
}

.cart-button p::after {
  background: none repeat scroll 0 0 transparent;
  top: 48%;
  content: "";
  display: block;
  height: 0.1rem;
  left: 60%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.cart-button p::before {
  background: none repeat scroll 0 0 transparent;
  bottom: 35%;
  content: "";
  display: block;
  height: 0.1rem;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.cart-button:hover {
  right: -8.1rem;
  top: 0.45rem;
  width: 5.7rem;
  height: 3.2rem;
  
  border-color: white;
}

.cart-button:hover p {
  padding-top: 0.3rem;
  padding-left: 1.8rem;
}

.cart-button:hover p::after {
  width: 0.75rem;
  left: 33%;
}

.cart-button:hover p::before {
  width: 1rem;
  left: 25%;
}

