*{
  box-sizing: border-box;
  font: 1em sans-serif;
}

html {
  --primary-color: #d66e6e;
  --secondary-color: #6ed66e;
  --background-color: #505050;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

body::-webkit-scrollbar {
  display: none;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-96 {
  font-size: 96px;
}

 .material-icons.md-114 {
  font-size: 114px;
}
